<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>星辰平台</title>
	<link rel="stylesheet" href="Style/reset.css">
	<link rel="stylesheet" href="Style/base.css">
	<link rel="stylesheet" href="Style/index.css">
	<script src="Javascript/vue.js"></script>
	<script src="Javascript/vue_resource.js"></script>
</head>
<body>
<div id="wrap" v-cloak>
	<!-- 导航以及头部区域（公共区域） -->
	<header-area></header-area>
	<section class="main">
		<div class="m-banner">
		<!-- banner SVG -->
			<svg width="509.117" height="280">
                <g class="g s1">
                    <rect x="199.6" y="22.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 19.5584 202.7818)" class="st t1" width="110" height="110"></rect>
                    <text transform="matrix(1 0 0 1 223.3085 88.3286)" class="st t1 text_b">恒 心</text>
                </g>
                <g class="g s2">
                    <rect x="111.2" y="111.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -68.8299 166.1701)" class="st t2" width="110" height="110"></rect>
                    <rect x="287.9" y="111.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -17.0532 291.1701)" class="st t2" width="110" height="110"></rect>
                    <text transform="matrix(1 0 0 1 141.3378 174.9592)" class="st t2 text_s">自 律</text>
                    <text transform="matrix(1 0 0 1 317.9472 174.9592)" class="st t2 text_s">完 美</text>
                </g>
                <g class="g s3">
                    <rect x="22.8" y="22.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -32.2183 77.7817)" class="st t3" width="110" height="110"></rect>
                    <rect x="376.3" y="22.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 71.3351 327.7817)" class="st t3" width="110" height="110"></rect>
                    <text transform="matrix(1 0 0 1 406.3355 86.5707)" class="st t3 text_s">追 求</text>
                    <text transform="matrix(1 0 0 1 52.7818 86.5706)" class="st t3 text_s">创 新</text>
                </g>
		     </svg>
		     <!-- 签到时间 -->
		     <ul class="m-u-sign">
		     	<li>
		     		<span class="m-u-s-icon"></span>
		     		<span class="m-u-s-text">在线时间</span>
		     		<span class="m-u-s-time">{{onlineTime}}</span>
		     	</li>
		     	<li>
		     		<span class="m-u-s-icon icon-sign"></span>
		     		<span class="m-u-s-text">签到时间</span>
		     		<span class="m-u-s-time">{{signTime}}</span>
		     	</li>
		     </ul>
		</div>
<!-- 项目列表 -->
		<section class="m-content">
			<div class="por">
				<h3 class="m-h3-title">团队项目列表</h3>
				<a href="javascript:;" class="m-add-icon" @click="itemPageShow"></a>
			</div>
			<ul class="clear item-data-wrap">
				<li v-for="item in AitemData" :title="item.itemName">
					<a :href="item.itemUrl"  @click="itemHotUpdate(item)">
						<p class="m-item-img">
							<img :src="item.itemPhoto" :alt="item.itemAuthor">
							<span class="m-item-face">
								<img :src="item.itemAuthorFace" :alt="item.itemName">
							</span>
						</p>
						<h4 class="m-item-title text-space">{{item.itemName}}</h4>
						<span class="m-item-text text-space" :title="item.itemDescription">{{item.itemDescription}}</span>
						<span class="m-item-hot">{{item.itemHot}}</span>
						<span class="m-item-hot-icon"></span>
					</a>
				</li>
			</ul>

		</section>
<!-- 成员列表 -->
		<aside class="u-user-list">
				<h3 class="m-h3-title">成员列表</h3>
				<ul>
					<li v-for="user in AuserData[0]">
						<a :href="user.hrefUrl" class="por">
							<span class="u-user-face por">
								<img :src="user.face_url" :alt="user.name">
							</span>
							<span class="u-user-name">{{user.name}}</span>
							<span class="u-user-role" :name="user.show_switch"></span>
						</a>
					</li>
				</ul>
		</aside>
	</section>


<!-- 项目编辑窗口 -->
	<section class="item-edit-area" v-if="itemEditShow">
		<div class="item-main por">
			<header class="i-main-title por">
				<h4>添加项目</h4>
				<a href="javascript:;" class="i-close" @click="itemPageHide">X</a>
			</header>
			<form enctype="multipart/form-data" method="post" action="php/item.php">
				<label class="i-main-photo">
					<div class="i-m-p-radius">
						<img :src="image" alt="">
					</div>
					<input type="file" @change="onFileChange" name="file">
					<span>添加你的项目图片</span>
				</label>
				<div class="i-main-form">
					<label>
						<span>项目名称：</span>
						<input type="text" placeholder="项目名称" name="itemName">
					</label>
					<label>
						<span>项目地址：</span>
						<input type="text" placeholder="项目URl" name="itemPlane">
					</label>
					<label>
						<span>项目描述：</span>
						<textarea placeholder="项目描述（选填）" name="itemDescription"></textarea>
					</label>
					<button name="addItem">确认</button>
				</div>
			</form>
		</div>
	</section>

</div>

</body>
</html>
<script src="Javascript/basePage.js"></script>
<script>
new Vue({
	el:'#wrap',
	data:{
		itemUrl:'php/item.php',
		userUrl:'php/user.php',
		AitemData:[],
		AuserData:[],
		signTime:'',
		onlineTime:'',
		itemEditShow:false,
		image:'',
		itemName:'',
		itemPlane:'',
		itemDescription:'',
	},
	created(){
		/*获取项目列表信息*/
		itemAuthorUser={itemAuthorUser:'itemAuthorUser',main:1}
		this.$http.post(this.itemUrl,itemAuthorUser).then(function(data){
			data.body.forEach((el,i)=>{
				el.itemUrl=el.itemUrl+"?key="+el.key;
				el.itemPhoto = 'Photo/item/'+el.itemPhoto;
				el.itemAuthorFace = el.itemAuthorFace!="" ? 'Photo/face/'+el.itemAuthorFace : 'Images/logo.png';
				el.itemDescription = el.itemDescription!="" ? el.itemDescription : '暂无项目描述';
			})
			// console.log(data.body);
			this.AitemData = data.body;//导入项目数据
			this.AitemData.sort((a,b)=>{
				return b.itemHot-a.itemHot;
			})
	    })
		/*用户列表*/
		userListData = {userListData:'userListData'}
		this.$http.post(this.userUrl,userListData).then(function(data){
			data.body.forEach((el,i)=>{
				el.face_url = el.face_url!="" ? 'Photo/face/'+el.face_url : 'Images/logo.png';
				el.hrefUrl = 'user.html?uid='+el.id;
				el.show_switch = 'role'+el.show_switch;
			})
			this.AuserData.push(data.body);//导入用户数据
	    })
	    /*用户考勤数据*/
		userData = {userData:'userData',sign:'sign'}
		this.$http.post(this.userUrl,userData).then(function(data){
				// console.log(data.body);
			if(data.body==1){
				window.location.href='login.php';
			}else{
				this.onlineTime = data.body.onlineTime;
				this.signTime = data.body.signTime;
			}
	    })
	},
	methods:{
		/*热点增加*/
		itemHotUpdate(msg){
			itemHotUpdateNum = {itemHotUpdate:msg}
			this.$http.post(this.itemUrl,itemHotUpdateNum).then(function(data){
				msg.itemHot = (msg.itemHot*1)+1
		    })
		},
		itemPageShow(){this.itemEditShow=true},
		itemPageHide(){this.itemEditShow=false},
		onFileChange(e) {//上传项目图片
	      var files = e.target.files || e.dataTransfer.files;
	      if (!files.length)
	        return;
	      this.createImage(files[0]);
	    },
		createImage(file) {//将上传图片转为base64格式
			var image = new Image();
			var reader = new FileReader();
			reader.onload = (e) => {
				this.image = e.target.result;
			};
			reader.readAsDataURL(file);
		},
	}
})
</script>