*{
	margin: 0px;
	padding: 0px;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: '微软雅黑';
	font-size: 14px;
}
.header{
	background: #222;
	border: 1px solid #080808;
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
}

.header_l{
	float: left;
}
.header_l a{
	height: 50px;
	line-height: 50px;
	color:#9d9d9d;
	padding: 0px 10px;
	display: inline-block;
}
.header_l a:hover{
	color: #fff;
	background: #000;
}
.header_r{
	float: right;

}
.header_r a{
	height: 50px;
	line-height: 50px;
	color:#9d9d9d;
	padding: 0px 15px;
	display: inline-block;
}
.header_r a:hover{
	color: #fff;
}
.header_logo{
	width: 80%;
	height: 110px;
	margin: 0px 10%;
	position: relative;
	border-bottom:1px solid #eee;
	margin-bottom: 30px;
}
#logo{
	width: 160px;
}
#form{
	margin: 10px auto;
	width: 80%;
	margin-bottom: 30px;
}
.form_l{
	float: left;
	width: 30%;
	margin: 30px 0px 0px 0px;

}
.form_l_c{
	border: 1px solid #ccc;
	width: 90%;
	height: 200px;
	margin-top: 30px;
}
.bbs{
	outline: none;
  /* 去掉默认框   */
	text-indent: 10px;
	font-size: 15px;
	border-radius: 10px;
	width: 90%;
	height: 200px;
	margin-bottom: 30px;
}
#input{
	width: 90%;
	height: 50px;
	border-radius: 10px;
	background: #ccc;
	font-size: 20px;
	outline: none;
	border: none;
	box-shadow: 0px -3px 1px #959FA5 inset;
}
#input:hover{
	background: rgba(127, 140, 148, 0.8);
	border-bottom: 3px solid #DDE3E6;
	box-shadow:none;
	border-radius: 10px;
	color: #fff;
}
#input:active{
	box-shadow: 0px 3px 1px #959FA5;
	background:  rgba(127, 140, 148, 1);
	border: none;
}
.form_r{
	float: right;
	width: 58%;
	position: relative;
}
#title{
	height: 170px;
}
.title_c{
	min-height: 110px;
	color: #fff;
	padding: 10px 15px;
	background: rgb(53, 102, 130);
	margin-bottom: 40px;
	box-shadow: 3px 3px 1px rgba(0,0,0,0.1);
}
.title_c i{
	margin-right:8px; 
}
.form_r ul{
	width: 100%;
}
.title_c strong{
	font-size: 16px;
}
.title_c p{
	text-indent: 30px;
	font-size: 20px;
	margin-top: 10px;
	letter-spacing: 5px;
}
.li_one{
	min-height: 110px;
	color: #fff;
	padding: 10px 15px;
	background: rgb(53, 102, 130);
	margin-bottom: 40px;
	box-shadow: 3px 3px 1px rgba(0,0,0,0.1);
}
.portrait{
	float: left;
	position: absolute;
	left: -120px;

}
.portrait img{
		height: 80px;
		display: block;


}
#span_1{
	width: 0px;
	height: 0px;
	display: block;
	border: 15px solid;
	border-color: transparent #E2F4F9 transparent transparent;
	border-right: 20px solid rgb(53, 102, 130);
	position: absolute;
	left: -35px;
	margin-top: 10px;
}

.words_h i{
	float:left;
	margin-right: 8px;
}
.words_h strong{
	font-size: 15px;
}
.words_h a{
	float: right;
	color: #ccc;
}
.words_c{
	text-indent: 30px;
	font-size: 18px;
	margin-top: 10px;
}
/*.reply{
	position: relative;
	margin-top: 50px;
	background: #fff;
	display: block;
	min-height: 35px;
	width: 90%;
	left: 45px;

}
.reply:hover{
	display: block;
}
.li_two{

}
.li_two p{
	color: #356682;

}
.reply_b{

	width: 100%;
}
#span_2{
	width: 0px;
	height: 0px;
	display: block;
	border: 8px solid;
	border-color: transparent  transparent transparent #fff;
	border-left: 13px solid #fff;
	position: absolute;
	right: -20px;
	top: 10px;


}
#reply_input1{
	width: 80%;
	height: 20px;
	margin-left: 10px;
	margin-top: 7px;

}
#reply_input2{
	width: 10%;
	height: 24px;
}*/
.footer{
	text-align: center;
	clear: both;
	position: relative;
	height: 50px;
	width: 80%;
	margin: 0px auto;
	top: 100px;
	border-top: 1px solid #ccc;
}
.footer p{
	margin-top: 50px;
	margin-bottom: 20px;
}
.footer a{
	color: #337ab7;
}