<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>星辰平台</title>
	<link rel="stylesheet" href="sourcus/Style/reset.css">
	<link rel="stylesheet" href="sourcus/Style/style.css">
	<link rel="stylesheet" href="sourcus/Style/main.css">
	<script src="sourcus/Javascript/fun.js"></script>
	<script src="sourcus/Javascript/vue.js"></script>
	<script src="sourcus/Javascript/vue_resource.js"></script>
</head>
<body >
	<div class="flex-box">
		<header class="flex-box flex-direction">
			<h1 class="box-sizing">
				<a href="index.html"><img src="sourcus/Images/logo_v2.png" alt="logo"></a>
			</h1>
			<nav>
				<ul>
					<li><a href="index.html" title="首页"><span class="img1" icon-name="首页"></span></a></li>
					<li><a href="userList.html" title="成员"><span class="img1" icon-name="成员"></span></a></li>
					<li><a href="work.html" title="作品"><span class="img1" icon-name="作品"></span></a></li>
					<li><a href="manage.html" title="管理"><span class="img1" icon-name="管理"></span></a></li>
				</ul>
			</nav>
			<footer>
				星辰工作室
			</footer>
		</header>
		<div class="content">
			<div id="content">
				<div class="top flex-box" class="userData"> 
					<div class="title">
						<h2>星辰工作室-星辰平台</h2>
						<p>我们都是浩瀚宇宙的小小星辰</p>
					</div>
					<form class="user_area flex-box" method="post" action="sourcus/php/login.php">
						<span v-bind:style="userFace"></span>
						<p>{{userName}}</p>
						<a :href="userUpdate"></a>
						<input type="hidden" name="usersignid" v-bind:value="signId">
						<button type="submit" name="logout"></button>
					</form>
				</div>
			</div>
			<div class="sign-wrap">
				<section id="sign">
					<h2>成员考勤签到表
						<a v-on:click="lastDate">&gt;</a>
						<a>日期</a>
						<a v-on:click="upDate">&lt;</a>
					</h2>
					<table>
						<thead>
							<tr>
								<th class="userTd">成员</th>
								<th  v-for="time in timeAll" v-bind:sign="time">{{time}}</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(sign,name) in signList">
							
								<td class="userTd">
									{{name}}
								</td>
								<td v-for="obj in sign" v-bind:sign="obj.new_date">
									<span data-key="start" class="start">{{obj.start_time}}</span>
									<span class="end">
										{{obj.end_time}}
									</span>
								</td>	
							</tr>
						</tbody>
					</table>
				</section>
			</div>
		</div>
	</div>
</body>
</html>

<script>

Array.prototype.contains = function (obj) {  
    var i = this.length;  
    while (i--) {  
        if (this[i] === obj) {  
            return true;  
        }  
    }  
    return false;  
} 


Vue.http.options.emulateJSON = true;

/*考勤数据*/
var sign = new Vue({
	el:'#sign',
	data:{
		apiUrl:'sourcus/php/sign.php',
		timeAll:[],
		signList:[],
		upTime:'',
		lastTime:'',
		flag:true
	},
	created(){
		/*拉取考勤数据*/
	    signListData={signListData:'signListData'}
		this.$http.post(this.apiUrl,signListData).then(function(data){
	        this.timeAll = data.body.time;
        	this.upTime = data.body.time[0];
        	this.lastTime = data.body.time[6];
        	data.body.sign.forEach((obj,v)=>{
        		this.signList = obj;
        	})
	    })
	},
	updated(){
		/*判断没有签退*/
		var endAll = document.querySelectorAll('td>span+span');
	   		[].forEach.call(endAll, function(element,i){
				if(element!=null){
	   				 if(element.innerText=='未签退'){
	   				 	element.setAttribute('class','err');
	   				 }
   				} 
	   		});
	   	/*判断迟到*/	
	   	var startAll = document.querySelectorAll('td span[data-key]'),
	   		monday = this.timeAll[0];
	   		arr = [];
							console.log(startAll);

	   		/*获取除星期一外的日期*/
	   		for(var k in this.timeAll){
	   			if(typeof this.timeAll[k]!="function" && k!=0){
	   				arr.push(this.timeAll[k])
	   			}
	   		}
	   		/*判断星期一和其他日期的的迟到情况*/
	   		for (var i = 0; i < startAll.length; i++) {
	   			var dataSign = startAll[i].parentNode.getAttribute('sign');
	   			if(dataSign!=null){
   					if(startAll[i].innerText!=""){
   						if(monday==dataSign && startAll[i].innerText > "08:30:00"){
   							startAll[i].setAttribute('class','err');
   						}
   						if(arr.contains(dataSign) && startAll[i].innerText > "08:10:00"){
   							startAll[i].setAttribute('class','err');
   						}
   					}
	   			}
	   		}


	},
	methods:{
		upDate(){
		    this.xhrUpdateItem(getUpDay(this.upTime),7);
		},
		lastDate(){
		    this.xhrUpdateItem(getNextDay(this.lastTime),1);
		},
		xhrUpdateItem(date,week){
			/*重新获取一遍签到数据*/
				date = '' || date;
				week = '' || week;
				signListData={signListData:'signListData',day:date,week:week}
				this.$http.post(this.apiUrl,signListData).then(function(data){
			        this.timeAll = data.body.time;
			       	this.upTime = data.body.time[0];
			       	this.lastTime = data.body.time[data.body.time.length-1];
			       	data.body.sign.forEach((obj,v)=>{
			       		this.signList = obj;
			       	})

	       		    this.$nextTick(()=>{
	       		    	/*判断没有签退*/
			       		var endAll = document.querySelectorAll('td>span+span');
					    	[].forEach.call(endAll, function(element,i){
						   		element.setAttribute('class','end');
						   		if(element.innerHTML.indexOf('未签退')>-1){
						   			element.setAttribute('class','err');
						   		}		   				
						   	});  
						var startAll = document.querySelectorAll('td span[data-key]'),
							monday = this.timeAll[0];
							arr = [];
							/*获取除星期一外的日期*/
							for(var k in this.timeAll){
								if(typeof this.timeAll[k]!="function" && k!=0){
									arr.push(this.timeAll[k])
								}
							}
					   		/*判断星期一和其他日期的的迟到情况*/
					   		for (var i = 0; i < startAll.length; i++) {
					   			startAll[i].setAttribute('class','start');
					   			console.log(startAll[i]);
					   			var dataSign = startAll[i].parentNode.getAttribute('sign');
					   			if(dataSign!=null){
				   					if(startAll[i].innerText!=""){
				   						if(monday==dataSign && startAll[i].innerText > "08:30:00"){
				   							startAll[i].setAttribute('class','err');
				   						}
				   						if(arr.contains(dataSign) && startAll[i].innerText > "08:10:00"){
				   							startAll[i].setAttribute('class','err');
				   						}
				   					}
					   			}
					   		}
	

	   		        })

			    });
		}	     
	}
})

/*用户信息*/
var userLogin = new Vue({
    el:'#content',
    data:{
    	userName:'',
    	userId:'',
    	userFace:'',
    	userRoot:'',
		signId:'',
		userUpdate:'',
		onlineTime:'',
		signTime:'',
    	apiUrl:'sourcus/php/user.php'
    },
    created(){
		var userLoginData={userData:'userGetData'}
		this.$http.post(this.apiUrl,userLoginData).then(function(data){
	        	if(data.body==1){
	        		window.location.href='login.html';
	        	}else{
	        		
	        		this.userName =data.body.userName;
	        		this.userId =data.body.userId;
	        		this.userRoot =data.body.userRoot;
	        		this.signId =data.body.signId;
	        		this.userUpdate = 'user.html?uid='+data.body.userId;
	        		this.userFace={
	        			background:'url('+data.body.userFace+') no-repeat center',
	        			backgroundSize: '100% 100%'
	        		}

	        		var obj = JSON.stringify(data.body);
	        		localStorage.setItem('userMessage',obj);

	        	}
	      	 

	    })

    }
})




</script>
