<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>星辰平台</title>
	<link rel="stylesheet" href="sourcus/Style/reset.css">
	<link rel="stylesheet" href="sourcus/Style/style.css">
	<link rel="stylesheet" href="sourcus/Style/main.css">
	<script src="sourcus/Javascript/fun.js"></script>
	<script src="sourcus/Javascript/vue.js"></script>
	<script src="sourcus/Javascript/vue_resource.js"></script>
</head>
<body >
	<div class="flex-box">
		<header class="flex-box flex-direction">
			<h1 class="box-sizing">
				<a href="index.html"><img src="sourcus/Images/logo_v2.png" alt="logo"></a>
			</h1>
			<nav>
				<ul>
					<li><a href="index.html" title="首页"><span class="img1" icon-name="首页"></span></a></li>
					<li><a href="userList.html" title="成员"><span class="img1" icon-name="成员"></span></a></li>
					<li><a href="work.html" title="作品"><span class="img1" icon-name="作品"></span></a></li>
					<li><a href="manage.html" title="管理"><span class="img1" icon-name="管理"></span></a></li>
				</ul>
			</nav>
			<footer>
				星辰工作室
			</footer>
		</header>
		<div class="content">
			<div id="content">
				<div class="top flex-box" class="userData"> 
					<div class="title">
						<h2>星辰工作室-星辰平台</h2>
						<p>我们都是浩瀚宇宙的小小星辰</p>
					</div>
					<form class="user_area flex-box" method="post" action="sourcus/php/login.php">
						<span v-bind:style="userFace"></span>
						<p>{{userName}}</p>
						<a :href="userUpdate"></a>
						<input type="hidden" name="usersignid" v-bind:value="signId">
						<button type="submit" name="logout"></button>
					</form>
				</div>
			</div>
			<div class="main-content flex-box">
				<section id="main" class="p0-55" v-cloak>
					<h2>
						成员项目列表
						<a class="item-add" v-on:click="addshow = !addshow"></a>
						<a class="item-list" v-on:click="viewLayout = 'list-item'"></a>
						<a class="item-grid" v-on:click="viewLayout = 'grid-item'"></a>
					</h2>
					<transition name="slide">
					  	<section class="over" v-show="addshow">
							<div class="additems">
								<a class="closeAddItem" v-on:click="addshow = !addshow"></a>
						  		<h3>添加项目</h3>
						  		<form onsubmit="return false">
									<label>
										<span>项目名称：</span>
										<input type="text" v-model="itemName" placeholder="item name" required>
									</label>
									<label>
										<span>项目地址：</span>
										<input type="text" v-model="itemUrl" placeholder="item url" required>
									</label>
									<label>
										<span>项目作者：</span>
										<select v-model="itemAuthor">
											<option v-for="option in optionsUser" v-bind:value="option.userid" required>{{option.username}}</option>
										</select>
									</label>
									<label>
										<span class="desripet">项目描述：</span>
										<textarea v-model="itemDescription" placeholder="item description " required></textarea>
									</label>
									<label>
										<span class="desripet">项目图片：</span>
										<input  type="file" v-on:change="onFileChange" v-show="!itemPhoto" required>
										<img :src="itemPhoto" v-show="itemPhoto">
									</label>
									<button type="submit" v-on:click="addItems">添加项目</button>
									<p class="error" v-show="error">程序输入错误</p>
						  		</form>
							</div>
					  	</section>
					</transition>
						<!-- Grid item  -->
						<ul v-show="viewLayout == 'grid-item'"  class="flex-box grid-item" >
							<li v-for="item in itemLists">
								<a v-on:click="itemHotUpdate(item)" v-bind:href="item.itemUrl">
									<span class="item-image" v-bind:style="item.photo"></span>
									<span class="item-author" v-bind:style="item.face"></span>
									<h4 class="ellipses">{{item.itemName}}</h4>
									<span class="item-hot-area">{{item.itemHot}}</span>
								</a>
							</li>
						</ul>
						<!-- List item -->
						<ul v-show="viewLayout == 'list-item'"  class="flex-box list-item">
							<li v-for="item in itemLists">
								<a v-bind:href="item.itemUrl" class="flex-box" v-on:click="itemHotUpdate(item)">
									<span class="item-image" v-bind:style="item.photo"></span>
									<span class="item-author" v-bind:style="item.face"></span>
									<h4>{{item.itemName}}</h4>
									<p class="ellipses">{{item.itemDescription}}</p>
									<span class="item-hot-area">{{item.itemHot}}</span>
								</a>
							</li>
						</ul>
				</section>
			</div>
		</div>
	</div>
</body>
</html>
<script>


Vue.http.options.emulateJSON = true;
/*Items list*/
var itemList = new Vue({
	el:'#main',
	data:{
		viewLayout:'grid-item',
		apiUrl:'sourcus/php/item.php',
		itemName:'',
		itemUrl:'',
		itemAuthor:'9',
		itemDescription:'',
		itemPhoto:'',
		optionsUser:[],
		itemLists:[],
		error:'',
		addshow:false
	},
	created(){
	    itemAuthorUser={itemAuthorUser:'itemAuthorUser',main:0}
		this.$http.post(this.apiUrl,itemAuthorUser).then(function(data){
			data.body.user.forEach((obj,i)=>{
				this.optionsUser.push(obj);
			})
			if(data.body.item!="" && data.body.item!=undefined){
				data.body.item.forEach((obj,i)=>{
				obj.itemAuthorFace = obj.itemAuthorFace!="" ? 'sourcus/Photo/face/'+obj.itemAuthorFace:'sourcus/Images/logo_v2.png';
					this.itemLists.push({
						photo:{
							background:'url(sourcus/Photo/item/'+obj.itemPhoto+') no-repeat center',
							backgroundSize: 'cover'
						},
						face:{
							background:'#fff url('+obj.itemAuthorFace+') no-repeat',
							backgroundSize: '100% 100%'
						},
						itemAuthor: obj.itemAuthor,
						itemDescription: obj.itemDescription,
						itemHot: obj.itemHot,
						itemId: obj.itemId,
						itemUrl: obj.itemUrl+'?key='+obj.key,
						itemName:obj.itemName
					})
				})
			}
	    },function(response){
	        console.info(response);
	    })	    
	},
	methods:{
		itemHotUpdate(msg){			
			itemHotUpdateNum = {itemHotUpdate:msg}
			this.$http.post(this.apiUrl,itemHotUpdateNum).then(function(data){
				msg.itemHot = (msg.itemHot*1)+1
		    },function(response){
		        console.info(response);
		    })
		},
		onFileChange(e){
			var files = e.target.files || e.dataTransfer.files;
			if (!files.length)
			  return;
			this.createImage(files[0]);
		},
		createImage(file) {
		  var image = new Image();
		  var reader = new FileReader();
		  var vm = this;

		  reader.onload = (e) => {
		    vm.itemPhoto = e.target.result;
		  };
		  reader.readAsDataURL(file);

		},
		addItems(){
			    addItem={
			    	addItem:'addItem',
			    	name:this.itemName,
			    	url:this.itemUrl,
			    	author:this.itemAuthor,
			    	description:this.itemDescription,
			    	photo:this.itemPhoto,
			    	main:0
			    }
				this.$http.post(this.apiUrl,addItem).then(function(data){
					if(data.body==1){
						this.error = 'error'
					}else{
						this.itemName='';
						this.itemUrl='';
						this.itemAuthor='';
						this.itemPhoto='';
						this.itemDescription='';
						window.location.href="work.html";
					}
			    },function(response){
			        console.info(response);
			    })
		}
	}
})


/*用户信息*/
var userLogin = new Vue({
    el:'#content',
    data:{
    	userName:'',
    	userId:'',
    	userFace:'',
    	userRoot:'',
		signId:'',
		userUpdate:'',
    	apiUrl:'sourcus/php/user.php'
    },
    created(){
		var userLoginData={userData:'userGetData'}
		this.$http.post(this.apiUrl,userLoginData).then(function(data){
	        	if(data.body==1){
	        		window.location.href='login.html';
	        	}else{
	        		
	        		this.userName =data.body.userName;
	        		this.userId =data.body.userId;
	        		this.userRoot =data.body.userRoot;
	        		this.signId =data.body.signId;
	        		this.userUpdate = 'user.html?uid='+data.body.userId;
	        		this.userFace={
	        			background:'url('+data.body.userFace+') no-repeat center',
	        			backgroundSize: '100% 100%'
	        		}
	        		var obj = JSON.stringify(data.body);
	        		localStorage.setItem('userMessage',obj);

	        	}
	      	 

	    })

    }
})







</script>
