#dehelou{left: 885px;top: 445px;z-index: 10;} /* 德和楼 */
#deyalou{left: 955px;top: 394px;z-index:9} /* 德雅楼 */
#zhixuelou{left: 646px;top: 318px;z-index: 9;} /* 知学楼 */
#zhiminglou{left: 888px;top: 245px;z-index: 3} /* 知明楼 */
#zhixinglou{left: 1028px;top: 302px;z-index: 4;} /* 知行楼 */
#dexinlou{left: 954px;top: 225px;z-index: 3;} /* 德鑫楼 */
#caochang{left: 314px;top: 240px;z-index: 3} /* 后操场 */
#deqinlou{left: 1034px;top: 468px;z-index: 4} /* 德勤楼 */
#dezhenglou{left: 1040px;top: 426px;z-index: 3} /* 德正楼 */
#fantang{left: 1075px;top: 500px;z-index: 3} /* 饭堂 */
#menkou{left: 785px;top: 530px;z-index:10} /* 校门口 */
#xueshudating{left: 995px;top: 532px;z-index: 5} /* 学术报告大厅 */
#zhiyilou{left:814px;top: 278px;z-index: 10;} /* 知艺楼 */