#dehelou{left: 604px;top: 182px;z-index: 10} /* 德和楼 */
#deyalou{left: 767px;top: 155px;z-index:9} /* 德雅楼 */
#zhixuelou{left: 266px;top: 75px;z-index: 9} /* 知学楼 */
#zhiminglou{left: 895px;top: 205px;z-index: 3} /* 知明楼 */
#zhixinglou{left: 840px;top: 172px;z-index: 4} /* 知行楼 */
#dexinlou{left: 838px;top: 80px;z-index: 3} /* 德鑫楼 */
#caochang{left: 262px;top: 205px;z-index: 3} /* 后操场 */
#deqinlou{left: 894px;top: 328px;z-index: 4} /* 德勤楼 */
#dezhenglou{left: 753px;top: 165px;z-index: 3} /* 德正楼 */
#fantang{left: 420px;top: -30px;z-index: 3} /* 饭堂 */
#menkou{left: 477px;top: 245px;z-index: 3} /* 校门口 */
#xueshudating{left: 695px;top: 272px;z-index: 5} /* 学术报告大厅 */
#zhiyilou{left:765px;top: 268px;z-index: 10} /* 知艺楼 */